<div class="container mt-3">

  <h3>Button</h3>
  <p>Un Button è un elemento interattivo che consente agli utenti di eseguire azioni, come inviare moduli, avviare processi o navigare tra sezioni</p>

  <rlb-dt-table>
    <rlb-dt-header>Parameters</rlb-dt-header>
    <rlb-dt-header>Type</rlb-dt-header>
    <rlb-dt-header>Required</rlb-dt-header>
    <rlb-dt-header>Description</rlb-dt-header>
    <rlb-dt-header>I/O</rlb-dt-header>
    <rlb-dt-row>
      <rlb-dt-cell>color</rlb-dt-cell>
      <rlb-dt-cell>Color</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell>Add to set the color of the button</rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>size</rlb-dt-cell>
      <rlb-dt-cell>Size</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell>Add to set the size of the button</rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>disabled</rlb-dt-cell>
      <rlb-dt-cell>boolean</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell>Add to disable or enable the button</rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>outline</rlb-dt-cell>
      <rlb-dt-cell>boolean</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell>Add to remove all background images and colors on any button.</rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>l>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>isLink</rlb-dt-cell>
      <rlb-dt-cell>boolean</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell>Add isLink to style a button that redirects to a link.</rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
  </rlb-dt-table>
  
  <rlb-accordion>
    <div rlb-accordion-item >
      <rlb-accordion-header>Code</rlb-accordion-header>
      <div rlb-accordion-body>
        <rlb-tabs >
          <rlb-tab target="ex-1-html">HTML</rlb-tab>
          <rlb-tab target="ex-1-ts">Ts</rlb-tab>
        </rlb-tabs>
        <rlb-tab-content>
          <rlb-tab-pane id="ex-1-html">
            <pre><code [highlight]="html" language="html"></code></pre>
          </rlb-tab-pane>
          <rlb-tab-pane id="ex-1-ts">
            <pre><code [highlight]="ts" language="ts"></code></pre>
          </rlb-tab-pane>
        </rlb-tab-content>
      </div>
    </div>
    <div rlb-accordion-item>
      <rlb-accordion-header>Example</rlb-accordion-header>
      <div rlb-accordion-body>
        <button rlb-button color="primary" [size]="'sm'">Search</button>
      </div>
    </div>
  </rlb-accordion>
</div>