# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly set line endings for Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Ensure binary files are not mangled
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.wmv binary
*.flv binary
*.avi binary
*.zip binary
*.gz binary
*.tar binary
*.7z binary
*.pdf binary
