<div class="container mt-3">
  
  <h3>Loader</h3>
  <p>Un Loader è un componente visivo che indica che un processo è in corso, come il caricamento di dati o l'elaborazione di un'azione.</p>

  <rlb-dt-table>
    <rlb-dt-header>Parameters</rlb-dt-header>
    <rlb-dt-header>Type</rlb-dt-header>
    <rlb-dt-header>Required</rlb-dt-header>
    <rlb-dt-header>Description</rlb-dt-header>
    <rlb-dt-header>I/O</rlb-dt-header>
    <rlb-dt-row>
      <rlb-dt-cell>Nessun Parametro</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell> 
    </rlb-dt-row>
  </rlb-dt-table>

  <h4>Progress</h4>
  <p>La progress bar è un componente visivo che mostra l'avanzamento di un'operazione, come il caricamento di un file o il completamento di una procedura.</p>

  <rlb-dt-table>
    <rlb-dt-header>Parameters</rlb-dt-header>
    <rlb-dt-header>Type</rlb-dt-header>
    <rlb-dt-header>Required</rlb-dt-header>
    <rlb-dt-header>Description</rlb-dt-header>
    <rlb-dt-header>I/O</rlb-dt-header>
    <rlb-dt-row>
      <rlb-dt-cell>max</rlb-dt-cell>
      <rlb-dt-cell>number</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>min</rlb-dt-cell>
      <rlb-dt-cell>number</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>value</rlb-dt-cell>
      <rlb-dt-cell>number</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>height</rlb-dt-cell>
      <rlb-dt-cell>number</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>animated</rlb-dt-cell>
      <rlb-dt-cell>boolean</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>striped</rlb-dt-cell>
      <rlb-dt-cell>boolean</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>infinite</rlb-dt-cell>
      <rlb-dt-cell>boolean</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>aria-label</rlb-dt-cell>
      <rlb-dt-cell>string</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>showValue</rlb-dt-cell>
      <rlb-dt-cell>boolean</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>color</rlb-dt-cell>
      <rlb-dt-cell>Color</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>text-color</rlb-dt-cell>
      <rlb-dt-cell>Color</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
  </rlb-dt-table>

  <h4>Spinner</h4>
  <p>Lo spinner è un indicatore visivo che segnala un processo in corso, come il caricamento di contenuti o l'attesa per una risposta.</p>

  <rlb-dt-table>
    <rlb-dt-header>Parameters</rlb-dt-header>
    <rlb-dt-header>Type</rlb-dt-header>
    <rlb-dt-header>Required</rlb-dt-header>
    <rlb-dt-header>Description</rlb-dt-header>
    <rlb-dt-header>I/O</rlb-dt-header>
    <rlb-dt-row>
      <rlb-dt-cell>style</rlb-dt-cell>
      <rlb-dt-cell>'grow' | 'border'</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell> 
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>color</rlb-dt-cell>
      <rlb-dt-cell>Color</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell> 
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>size</rlb-dt-cell>
      <rlb-dt-cell>'sm' | 'md' | 'lg'</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell> 
    </rlb-dt-row>
  </rlb-dt-table>

  <rlb-accordion>
    <div rlb-accordion-item >
      <rlb-accordion-header>Code</rlb-accordion-header>
      <div rlb-accordion-body>
        <rlb-tabs >
          <rlb-tab target="ex-1-html">HTML</rlb-tab>
          <rlb-tab target="ex-1-ts">Ts</rlb-tab>
        </rlb-tabs>
        <rlb-tab-content>
          <rlb-tab-pane id="ex-1-html">
            <pre><code [highlight]="html" language="html"></code></pre>
          </rlb-tab-pane>
          <rlb-tab-pane id="ex-1-ts">
            <pre><code [highlight]="ts" language="ts"></code></pre>
          </rlb-tab-pane>
        </rlb-tab-content>
      </div>
    </div>
    <div rlb-accordion-item>
      <rlb-accordion-header>Example</rlb-accordion-header>
      <div rlb-accordion-body>
        <rlb-dt-loading>
          <rlb-progress class="w-100" color="danger" height="2" infinite></rlb-progress>
        </rlb-dt-loading>
      </div>
    </div>
  </rlb-accordion>
  <br>
  <br>
</div>