<div class="container mt-3">

  <rlb-accordion>
    <div rlb-accordion-item>
      <rlb-accordion-header>Code</rlb-accordion-header>
      <div rlb-accordion-body>
        <rlb-tabs>
          <rlb-tab target="ex-1-html">HTML</rlb-tab>
          <rlb-tab target="ex-1-ts">Ts</rlb-tab>
        </rlb-tabs>
        <rlb-tab-content>
          <rlb-tab-pane id="ex-1-html">
            <pre><code [highlight]="html" language="html"></code></pre>
          </rlb-tab-pane>
          <rlb-tab-pane id="ex-1-ts">
            <pre><code [highlight]="ts" language="ts"></code></pre>
          </rlb-tab-pane>
        </rlb-tab-content>
      </div>
    </div>
    <div rlb-accordion-item>
      <rlb-accordion-header>Example</rlb-accordion-header>
      <div rlb-accordion-body>
        <button rlb-button class="position-relative" badge="pippo" [badge-start]="100" [badge-top]="0" [badge-color]="'info'" [badge-pill]="true">Toggle</button>
      </div>
    </div>
  </rlb-accordion>
  <rlb-dt-table>
    <rlb-dt-header>Parameters</rlb-dt-header>
    <rlb-dt-header>Description</rlb-dt-header>
    <rlb-dt-row>
      <rlb-dt-cell>badge (string)</rlb-dt-cell>
      <rlb-dt-cell>Badge text</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>badge-pill (boolean)</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>badge-border (boolean)</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>badge-top (number)</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>badge-start (number)</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>badge-color (Color)</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>hidden-text (string)</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
    </rlb-dt-row>
  </rlb-dt-table>

</div>