<div class="rlb-app">
  <rlb-sidebar class="rlb-sidebar">
    <rlb-sidebar-item title="RLB bootstrap" />
    <rlb-sidebar-item label="Components">
      <rlb-sidebar-item icon="bi bi-box" link="/components/alerts">Alerts</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/accordions">Accordions</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/modals">Modals</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/toasts">Toasts</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/dropdowns">Dropdowns</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/collapses">Collapses</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/avatars">Avatars</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/badges">Badge</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/breadcrumbs">Breadcrumb</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/buttons">Button</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/cards">Card</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/lists">List</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/loaders">Loader</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/offcanvass">Offcanvas</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/paginations">Pagination</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/placeholders">Placeholder</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/scrollspys">Scrollspy</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/tabs">Tab</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/tooltips">Tooltips</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/navigation/navs">Nav</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/components/navigation/navbars">Navbar</rlb-sidebar-item>
    </rlb-sidebar-item>
    <rlb-sidebar-item label="Inputs">
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/autocomplete">Autocomplete</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/checkbox">Checkbox</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/color">Color</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/datalist">Datalist</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/file">File</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/file-dnd">File Dnd</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/input">Input</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/input-group">Input Group</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/input-validation">Input Validation</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/option">Option</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/radio">Radio</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/range">Range</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/select">Select</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/switch">Switch</rlb-sidebar-item>
      <rlb-sidebar-item icon="bi bi-box" link="/inputs/textarea">Textarea</rlb-sidebar-item>
    </rlb-sidebar-item>

  </rlb-sidebar>
  <rlb-navbar class="rlb-navbar" expand="lg">
    <a class="d-block d-sm-none" rlb-button href="#" toggle="collapse" toggle-target="sidebar" [outline]="true">
      <span class="navbar-toggler-icon"></span>
    </a>
    <a rlb-navbar-brand href="#">Navbar</a>
    <rlb-navbar-items class="me-auto">
      <rlb-navbar-item [routerLink]="['/']" routerLinkActive="active">Home</rlb-navbar-item>
      <rlb-navbar-item rlb-navbar-item [routerLink]="['/getting-started']" routerLinkActive="active">Getting
        started</rlb-navbar-item>
      <rlb-navbar-separator />
      <rlb-navbar-item dropdown toggle-target="#" autoClose="manual">Components
        <rlb-dropdown-container>
          <rlb-card>
            <rlb-card-body>
              <h5 rlb-card-title>Card title</h5>
              <p rlb-card-text>
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </rlb-card-body>
          </rlb-card>
        </rlb-dropdown-container>
      </rlb-navbar-item>
    </rlb-navbar-items>
    <!-- <rlb-navbar-form>
				<rlb-input />
				<button rlb-button [outline]="true" color="primary" [size]="'sm'">Search</button>
			</rlb-navbar-form>
			<rlb-navbar-text>
				Un testo
			</rlb-navbar-text> -->
  </rlb-navbar>
  <div class="rlb-content rlb-sidebar">
    <router-outlet />
  </div>
</div>
<rlb-modal-container id="modal-c-1" />
<rlb-toast-container class="position-fixed bottom-0 end-0 p-3" id="toast-c-1" />