<div class="container mt-3">

  <h3>Pagination</h3>
  <p>La Pagination è un componente di navigazione che consente di dividere il contenuto in più pagine e di spostarsi facilmente tra di esse.</p>

  <rlb-dt-table>
    <rlb-dt-header>Parameters</rlb-dt-header>
    <rlb-dt-header>Type</rlb-dt-header>
    <rlb-dt-header>Required</rlb-dt-header>
    <rlb-dt-header>Description</rlb-dt-header>
    <rlb-dt-header>I/O</rlb-dt-header>
    <rlb-dt-row>
      <rlb-dt-cell>class</rlb-dt-cell>
      <rlb-dt-cell><span rlb-badge color='info'>string</span></rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>size</rlb-dt-cell>
      <rlb-dt-cell>'sm' | 'md' | 'lg'</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>alignment</rlb-dt-cell>
      <rlb-dt-cell>'start' | 'center' | 'end'</rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
  </rlb-dt-table>

  <h4>Pagination Item</h4>
  <p>Inserisci un Pagination Item all'interno del Pagionation per popolarlo con delle pagine</p>

  <rlb-dt-table>
    <rlb-dt-header>Parameters</rlb-dt-header>
    <rlb-dt-header>Type</rlb-dt-header>
    <rlb-dt-header>Required</rlb-dt-header>
    <rlb-dt-header>Description</rlb-dt-header>
    <rlb-dt-header>I/O</rlb-dt-header>
    <rlb-dt-row>
      <rlb-dt-cell>isIcon</rlb-dt-cell>
      <rlb-dt-cell><span rlb-badge color='primary'> boolean</span></rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>disabled</rlb-dt-cell>
      <rlb-dt-cell><span rlb-badge color='primary'> boolean</span></rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>active</rlb-dt-cell>
      <rlb-dt-cell><span rlb-badge color='primary'> boolean</span></rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
    <rlb-dt-row>
      <rlb-dt-cell>class</rlb-dt-cell>
      <rlb-dt-cell><span rlb-badge color='info'>string</span></rlb-dt-cell>
      <rlb-dt-cell>False</rlb-dt-cell>
      <rlb-dt-cell></rlb-dt-cell>
      <rlb-dt-cell>Input</rlb-dt-cell>
    </rlb-dt-row>
  </rlb-dt-table>

  <rlb-accordion>
    <div rlb-accordion-item>
      <rlb-accordion-header>Code</rlb-accordion-header>
      <div rlb-accordion-body>
        <rlb-tabs>
          <rlb-tab target="ex-1-html">HTML</rlb-tab>
          <rlb-tab target="ex-1-ts">Ts</rlb-tab>
        </rlb-tabs>
        <rlb-tab-content>
          <rlb-tab-pane id="ex-1-html">
            <h4>Alignment</h4>
            <pre><code [highlight]="align" language="html"></code></pre>
            <h4>Size</h4>
            <pre><code [highlight]="size" language="html"></code></pre>
            <h4>IsIcon</h4>
            <pre><code [highlight]="isIcon" language="html"></code></pre>
            <h4>Disabled</h4>
            <pre><code [highlight]="disabled" language="html"></code></pre>
            <h4>Active</h4>
            <pre><code [highlight]="active" language="html"></code></pre>
          </rlb-tab-pane>
          <rlb-tab-pane id="ex-1-ts">
            <pre><code [highlight]="ts" language="ts"></code></pre>
          </rlb-tab-pane>
        </rlb-tab-content>
      </div>
    </div>
    <div rlb-accordion-item>
      <rlb-accordion-header>Example</rlb-accordion-header>
      <div rlb-accordion-body>
        <h4>Alignment</h4>
        <rlb-pagination [alignment]="'center'">
          <rlb-pagination-item isIcon>
            <span>&laquo;</span>
          </rlb-pagination-item>
          <rlb-pagination-item isIcon>1</rlb-pagination-item>
          <rlb-pagination-item isIcon>2</rlb-pagination-item>
          <rlb-pagination-item isIcon>3</rlb-pagination-item>
          <rlb-pagination-item isIcon>4</rlb-pagination-item>
          <rlb-pagination-item isIcon>
            <span>&raquo;</span>
          </rlb-pagination-item>
        </rlb-pagination>
        <h4>Size</h4>
        <rlb-pagination [size]="'sm'">
          <rlb-pagination-item isIcon>
            <span>&laquo;</span>
          </rlb-pagination-item>
          <rlb-pagination-item isIcon>1</rlb-pagination-item>
          <rlb-pagination-item isIcon>2</rlb-pagination-item>
          <rlb-pagination-item isIcon>3</rlb-pagination-item>
          <rlb-pagination-item isIcon>4</rlb-pagination-item>
          <rlb-pagination-item isIcon>
            <span>&raquo;</span>
          </rlb-pagination-item>
        </rlb-pagination>
        <rlb-pagination [size]="'md'">
          <rlb-pagination-item isIcon>
            <span>&laquo;</span>
          </rlb-pagination-item>
          <rlb-pagination-item isIcon>1</rlb-pagination-item>
          <rlb-pagination-item isIcon>2</rlb-pagination-item>
          <rlb-pagination-item isIcon>3</rlb-pagination-item>
          <rlb-pagination-item isIcon>4</rlb-pagination-item>
          <rlb-pagination-item isIcon>
            <span>&raquo;</span>
          </rlb-pagination-item>
        </rlb-pagination>
        <rlb-pagination [size]="'lg'">
          <rlb-pagination-item isIcon>
            <span>&laquo;</span>
          </rlb-pagination-item>
          <rlb-pagination-item isIcon>1</rlb-pagination-item>
          <rlb-pagination-item isIcon>2</rlb-pagination-item>
          <rlb-pagination-item isIcon>3</rlb-pagination-item>
          <rlb-pagination-item isIcon>4</rlb-pagination-item>
          <rlb-pagination-item isIcon>
            <span>&raquo;</span>
          </rlb-pagination-item>
        </rlb-pagination>
				<h4>Pagination Item isIcon = FALSE</h4>
        <rlb-pagination>
					<rlb-pagination-item isIcon="false">1</rlb-pagination-item>
        </rlb-pagination>
        <h4>Pagination Item disabled</h4>
        <rlb-pagination>
          <rlb-pagination-item isIcon [disabled]="true">1</rlb-pagination-item> 
        </rlb-pagination>
        <h4>Pagination Item active</h4>
        <rlb-pagination>
          <rlb-pagination-item isIcon [active]="true">1</rlb-pagination-item> 
        </rlb-pagination>
      </div>
    </div>
  </rlb-accordion>
</div>