<div class="p-3">
	<rlb-input type="number" min="0" max="10" step="0.1" [(ngModel)]="number"></rlb-input>
	{{ number }}

	<rlb-input type="datetime-local" min="0" max="10" step="0.1" [(ngModel)]="dtz" date-type="date-tz"></rlb-input>
	{{ dtz | dtz }} {{ dtz | dayOfWeek: 'short' }}

	<rlb-input type="text" [(ngModel)]="str"></rlb-input>
	{{ str }}

	<hr>

	<rlb-carousel autoplay="none" [(current-slide)]="carouselPage" (slide-count)="carouselCount = $event" id="pippo">
		<rlb-carousel-slide active>
			<img src="https://placehold.co/100x400" alt="slide 1">
		</rlb-carousel-slide>
		<rlb-carousel-slide>
			<img src="https://placehold.co/200x401" alt="slide 2">
		</rlb-carousel-slide>
		<rlb-carousel-slide>
			<img src="https://placehold.co/300x401" alt="slide 2">
		</rlb-carousel-slide>
		<rlb-carousel-slide>
			<img src="https://placehold.co/400x401" alt="slide 2">
		</rlb-carousel-slide>
		<rlb-carousel-slide>
			<img src="https://placehold.co/500x401" alt="slide 2">
		</rlb-carousel-slide>

	</rlb-carousel>

	<rlb-input type="number" [(ngModel)]="carouselPage" min="0" [max]="carouselCount"></rlb-input>
	{{ carouselPage }} / {{ carouselCount }}


	<form [formGroup]="profileForm" (submit)="updateProfile()">
		<rlb-input formControlName="firstName" size="small" type="text" name="firstName" id="lastName">
			<label before for="lastName" class="mt-2 mb-1">
				{{ "affiliates.userProfile.profile.firstName" }}
			</label>
		</rlb-input>
	</form>

	<br>

	<button rlb-button outline (click)="test()">log form value</button>
	<button rlb-button outline (click)="testPatch()">test patch value</button>

	<div [formGroup]="profileForm" class="mt-3">
		<label for="country">Country autocomplete</label>
		<rlb-autocomplete-country id="country" enable-flag-icons formControlName="country" />
	</div>

	<br>
	<div [formGroup]="profileForm" class="mt-3">
		<label for="timezone">Timezone autocomplete</label>
		<rlb-autocomplete-timezones id="timezone"
			[formControl]="profileForm.controls.profile.controls.culture.controls.timezone" />
	</div>
	<br>
	<div [formGroup]="profileForm" class="mt-3">
		<label for="dial-code">Dial code autocomplete</label>
		<rlb-autocomplete-country-dial-code enable-flag-icons id="dial-code" formControlName="dialCode" />
	</div>
	<br>
</div>